<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">上级分类</label>
            <div class="layui-col-xs10">
                <select name='pid' required class='layui-select' lay-search>
                    <!--{foreach $class as $menu}-->
                    <!--{eq name='menu.id' value='$vo.pid|default=0'}-->
                    <option selected value='{$menu.id}'>{$menu.spl|raw}{$menu.zh_cn}</option>
                    <!--{else}-->
                    <option value='{$menu.id}'>{$menu.spl|raw}{$menu.zh_cn}</option>
                    <!--{/eq}-->
                    <!--{/foreach}-->
                </select>
                <p class="help-block">必选，请选择上级分类或顶级分类（目前最多支持三级分类）</p>
            </div>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">分类名称（简体）</label>
            <label class="layui-col-xs10">
                <input name="zh_cn" required value='{$vo.zh_cn|default=""}' placeholder="请输入分类名称" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">分类名称（繁体）</label>
            <label class="layui-col-xs10">
                <input name="zh_hk" required value='{$vo.zh_hk|default=""}' placeholder="请输入分类名称" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">分类名称（英文）</label>
            <label class="layui-col-xs10">
                <input name="en_us" required value='{$vo.en_us|default=""}' placeholder="请输入分类名称" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">分类名称（泰国）</label>
            <label class="layui-col-xs10">
                <input name="th_th" required value='{$vo.th_th|default=""}' placeholder="请输入分类名称" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">分类名称（越南）</label>
            <label class="layui-col-xs10">
                <input name="vi_vn" required value='{$vo.vi_vn|default=""}' placeholder="请输入分类名称" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">分类名称（日本）</label>
            <label class="layui-col-xs10">
                <input name="ja_jp" required value='{$vo.ja_jp|default=""}' placeholder="请输入分类名称" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">分类名称（韩国）</label>
            <label class="layui-col-xs10">
                <input name="ko_kr" required value='{$vo.ko_kr|default=""}' placeholder="请输入分类名称" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">分类名称（马来）</label>
            <label class="layui-col-xs10">
                <input name="ms_my" required value='{$vo.ms_my|default=""}' placeholder="请输入分类名称" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">分类名称（土耳其）</label>
            <label class="layui-col-xs10">
                <input name="tr_tr" required value='{$vo.tr_tr|default=""}' placeholder="请输入分类名称" class="layui-input">
            </label>
        </div>
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">分类名称（西班牙）</label>
            <label class="layui-col-xs10">
                <input name="es_es" required value='{$vo.es_es|default=""}' placeholder="请输入分类名称" class="layui-input">
            </label>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">分类图片</label>
            <label class="layui-col-xs10">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th class="text-center">项目封面</th>
                    </tr>
                    <tr>
                        <td width="90px" class="text-center">
                            <input name="img" required type="hidden" value="{$vo.img|default=''}">
                        </td>
                    </tr>
                    </thead>
                </table>
            </label>
            <script>$('[name="img"]').uploadOneImage()</script>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">分类备注</label>
            <label class="layui-col-xs10">
                <input name="note" value='{$vo.note|default=""}' placeholder="请输入分类备注" class="layui-input">
            </label>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
{block name='script'}
<script>
    window.form.render();
</script>
{/block}
