{extend name='admin@main'}

{block name="content"}

<form onsubmit="return false;" id="GoodsForm" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body think-box-shadow padding-left-40">

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 relative">
                <span class="color-green">文章分类</span>
                <select class="layui-select" required name="type" lay-search>
                    {foreach $class as $cate}
                    {if isset($vo.type) and $vo.type eq $cate.id}
                    <option selected value="{$cate.id}">{$cate.name|default=''}</option>
                    {else}
                    <option value="{$cate.id}">{$cate.name|default=''}</option>
                    {/if}
                    {/foreach}
                </select>
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">是否显示</span>
                <select class="layui-select" name="show">
                    {foreach ['1'=>'显示','0'=>'隐藏'] as $k=>$v}
                    <!--{eq name='$vo.show' value='$k.""'}-->
                    <option selected value="{$k}">{$v}</option>
                    <!--{else}-->
                    <option value="{$k}">{$v}</option>
                    <!--{/eq}-->
                    {/foreach}
                </select>
            </label>
            <label class="layui-col-xs6 relative">
                <span class="color-green">关键词</span>
                <input name="keyword" class="layui-input" placeholder="请输入文章关键词" value="{$vo.keyword|default=''}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 relative">
                <span class="color-green">文章标题（简体）</span>
                <input name="title_zh_cn" required class="layui-input" placeholder="请输入文章名称" value="{$vo.title_zh_cn|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">文章标题（繁体）</span>
                <input name="title_zh_hk" required class="layui-input" placeholder="请输入文章名称" value="{$vo.title_zh_hk|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">文章标题（英文）</span>
                <input name="title_en_us" required class="layui-input" placeholder="请输入文章名称" value="{$vo.title_en_us|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">文章标题（泰语）</span>
                <input name="title_th_th" required class="layui-input" placeholder="请输入文章名称" value="{$vo.title_th_th|default=''}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 relative">
                <span class="color-green">文章标题（越南）</span>
                <input name="title_vi_vn" required class="layui-input" placeholder="请输入文章名称" value="{$vo.title_vi_vn|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">文章标题（日语）</span>
                <input name="title_ja_jp" required class="layui-input" placeholder="请输入文章名称" value="{$vo.title_ja_jp|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">文章标题（韩语）</span>
                <input name="title_ko_kr" required class="layui-input" placeholder="请输入文章名称" value="{$vo.title_ko_kr|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">文章标题（马来）</span>
                <input name="title_ms_my" required class="layui-input" placeholder="请输入文章名称" value="{$vo.title_ms_my|default=''}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 relative">
                <span class="color-green">文章标题（土耳其）</span>
                <input name="title_tr_tr" required class="layui-input" placeholder="请输入文章名称" value="{$vo.title_tr_tr|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">文章标题（西班牙）</span>
                <input name="title_es_es" required class="layui-input" placeholder="请输入文章名称" value="{$vo.title_es_es|default=''}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            
            <label class="layui-col-xs6 ">
                <span class="color-green label-required-prev">文章详情（简体）</span>
                <textarea name="content_zh_cn">{$vo.content_zh_cn|default='简体'|raw}</textarea>
            </label>
            <label class="layui-col-xs6 relative">
                <span class="color-green label-required-prev">文章详情（繁体）</span>
                <textarea name="content_zh_hk">{$vo.content_zh_hk|default='繁体'|raw}</textarea>
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 ">
                <span class="color-green label-required-prev">文章详情（英文）</span>
                <textarea name="content_en_us">{$vo.content_en_us|default='英文'|raw}</textarea>
            </label>
            <label class="layui-col-xs6 ">
                <span class="color-green label-required-prev">文章详情（泰语）</span>
                <textarea name="content_th_th">{$vo.content_th_th|default='泰语'|raw}</textarea>
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 ">
                <span class="color-green label-required-prev">文章详情（越南）</span>
                <textarea name="content_vi_vn">{$vo.content_vi_vn|default='越南'|raw}</textarea>
            </label>
            <label class="layui-col-xs6 ">
                <span class="color-green label-required-prev">文章详情（日语）</span>
                <textarea name="content_ja_jp">{$vo.content_ja_jp|default='日语'|raw}</textarea>
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 ">
                <span class="color-green label-required-prev">文章详情（韩语）</span>
                <textarea name="content_ko_kr">{$vo.content_ko_kr|default='韩语'|raw}</textarea>
            </label>
            <label class="layui-col-xs6 ">
                <span class="color-green label-required-prev">文章详情（马来）</span>
                <textarea name="content_ms_my">{$vo.content_ms_my|default='马来'|raw}</textarea>
            </label>
        </div>
                <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 ">
                <span class="color-green label-required-prev">文章详情（土耳其）</span>
                <textarea name="content_tr_tr">{$vo.content_tr_tr|default='土耳其'|raw}</textarea>
            </label>
            <label class="layui-col-xs6 ">
                <span class="color-green label-required-prev">文章详情（西班牙）</span>
                <textarea name="content_es_es">{$vo.content_es_es|default='西班牙'|raw}</textarea>
            </label>
        </div>
        <div class="layui-form-item text-center">
            {notempty name='vo.id'}<input type="hidden" name="id" value="{$vo.id}">{/notempty}
            <button class="layui-btn layui-btn-danger" ng-click="hsitoryBack()" type="button">取消编辑</button>
            <button class="layui-btn" type="submit">保存文章</button>
        </div>

    </div>
</form>
{/block}

{block name='script'}
<script>
    window.form.render();
    require(['ckeditor', 'angular'], function () {
        window.createEditor('[name="content_zh_cn"]', {height: 100});
        window.createEditor('[name="content_zh_hk"]', {height: 100});
        window.createEditor('[name="content_en_us"]', {height: 100});
        window.createEditor('[name="content_th_th"]', {height: 100});
        window.createEditor('[name="content_vi_vn"]', {height: 100});
        window.createEditor('[name="content_ja_jp"]', {height: 100});
        window.createEditor('[name="content_ko_kr"]', {height: 100});
        window.createEditor('[name="content_ms_my"]', {height: 100});
        window.createEditor('[name="content_tr_tr"]', {height: 100});
        window.createEditor('[name="content_es_es"]', {height: 100});
        var app = angular.module("GoodsForm", []).run(callback);
        angular.bootstrap(document.getElementById(app.name), [app.name]);

        function callback($rootScope) {
            $rootScope.hsitoryBack = function () {
                $.msg.confirm('确定要取消编辑吗？', function (index) {
                    history.back(), $.msg.close(index);
                });
            };
        }

    })
</script>
{/block}
