{extend name='admin@main'}

{block name="content"}


<form onsubmit="return false;" id="GoodsForm" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body think-box-shadow padding-left-40">

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 relative">
                <span class="color-green">项目分类</span>
                <select class="layui-select" required name="class" lay-search>
                    {foreach $class as $cate}
                    {if isset($vo.class) and $vo.class eq $cate.id}
                    <option selected value="{$cate.id}">{$cate.spl|raw}{$cate.zh_cn|default=''}</option>
                    {else}
                    <option value="{$cate.id}">{$cate.spl|raw}{$cate.zh_cn|default=''}</option>
                    {/if}
                    {/foreach}
                </select>
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">项目状态</span>
                <select class="layui-select" name="status" required>
                    {foreach ['0'=>'下架','1'=>'上架'] as $k=>$v}
                    <!--{eq name='$vo.status' value='$k.""'}-->
                    <option selected value="{$k}">{$v}</option>
                    <!--{else}-->
                    <option value="{$k}">{$v}</option>
                    <!--{/eq}-->
                    {/foreach}
                </select>
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">展示类型</span>
                <select class="layui-select" name="index_type" required>
                    {foreach ['1'=>'新手专区','2'=>'热门投资','3'=>'稳健智投','4'=>'高端精选','5'=>'全球领投'] as $k=>$v}
                    <!--{eq name='$vo.index_type' value='$k.""'}-->
                    <option selected value="{$k}">{$v}</option>
                    <!--{else}-->
                    <option value="{$k}">{$v}</option>
                    <!--{/eq}-->
                    {/foreach}
                </select>
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 relative">
                <span class="color-green">项目名称（简体）</span>
                <input name="zh_cn" required class="layui-input" placeholder="请输入项目名称" value="{$vo.zh_cn|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">项目名称（繁体）</span>
                <input name="zh_hk" required class="layui-input" placeholder="请输入项目名称" value="{$vo.zh_hk|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">项目名称（英文）</span>
                <input name="en_us" required class="layui-input" placeholder="请输入项目名称" value="{$vo.en_us|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">项目名称（泰语）</span>
                <input name="th_th" required class="layui-input" placeholder="请输入项目名称" value="{$vo.th_th|default=''}">
            </label>
            
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 relative">
                <span class="color-green">项目名称（越南）</span>
                <input name="vi_vn" required class="layui-input" placeholder="请输入项目名称" value="{$vo.vi_vn|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">项目名称（日语）</span>
                <input name="ja_jp" required class="layui-input" placeholder="请输入项目名称" value="{$vo.ja_jp|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">项目名称（韩语）</span>
                <input name="ko_kr" required class="layui-input" placeholder="请输入项目名称" value="{$vo.ko_kr|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">项目名称（马来）</span>
                <input name="ms_my" required class="layui-input" placeholder="请输入项目名称" value="{$vo.ms_my|default=''}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 relative">
                <span class="color-green">项目名称（土耳其）</span>
                <input name="tr_tr" required class="layui-input" placeholder="请输入项目名称" value="{$vo.tr_tr|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">项目名称（西班牙）</span>
                <input name="es_es" required class="layui-input" placeholder="请输入项目名称" value="{$vo.es_es|default=''}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 relative">
                <span class="color-green">项目规模</span>
                <input name="total" required class="layui-input" placeholder="请输入项目规模" value="{$vo.total|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">收益率（%）</span>
                <input name="rate" required class="layui-input" placeholder="请输入收益率（%）" value="{$vo.rate|default=''}">
            </label>
            
            <label class="layui-col-xs3 relative">
                <span class="color-green">模拟进度（%）</span>
                <input name="percent" required class="layui-input" placeholder="请输入模拟进度（%）" value="{$vo.percent|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">自增进度（30分钟）（%）</span>
                <input name="percent_add" required class="layui-input" placeholder="请输入自增进度（%）" value="{$vo.percent_add|default=''}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 relative">
                <span class="color-green">周期（天）</span>
                <input name="day" required class="layui-input" placeholder="请输入周期（天）" value="{$vo.day|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">最小投资金额</span>
                <input name="min" required class="layui-input" placeholder="请输入最小投资金额" value="{$vo.min|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">最大投资金额</span>
                <input name="max" required class="layui-input" placeholder="请输入最大投资金额" value="{$vo.max|default='999999'}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">最大投资次数</span>
                <input name="num" required class="layui-input" placeholder="请输入最大投资次数" value="{$vo.num|default=''}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 ">
                <span class="color-green">项目描述（简体）</span>
                <input name="desc_zh_cn"  class="layui-input" placeholder="请输入项目描述" value="{$vo.desc_zh_cn|default=''}">
            </label>
            <label class="layui-col-xs3 ">
                <span class="color-green">项目描述（繁体）</span>
                <input name="desc_zh_hk"  class="layui-input" placeholder="请输入项目描述" value="{$vo.desc_zh_hk|default=''}">
            </label>
            <label class="layui-col-xs3 ">
                <span class="color-green">项目描述（英文）</span>
                <input name="desc_en_us"  class="layui-input" placeholder="请输入项目描述" value="{$vo.desc_en_us|default=''}">
            </label>
            <label class="layui-col-xs3 ">
                <span class="color-green">项目描述（泰语）</span>
                <input name="desc_th_th"  class="layui-input" placeholder="请输入项目描述" value="{$vo.desc_th_th|default=''}">
            </label>
            
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 ">
                <span class="color-green">项目描述（越南）</span>
                <input name="desc_vi_vn"  class="layui-input" placeholder="请输入项目描述" value="{$vo.desc_vi_vn|default=''}">
            </label>
            <label class="layui-col-xs3 ">
                <span class="color-green">项目描述（日语）</span>
                <input name="desc_ja_jp"  class="layui-input" placeholder="请输入项目描述" value="{$vo.desc_ja_jp|default=''}">
            </label>
            <label class="layui-col-xs3 ">
                <span class="color-green">项目描述（韩语）</span>
                <input name="desc_ko_kr"  class="layui-input" placeholder="请输入项目描述" value="{$vo.desc_ko_kr|default=''}">
            </label>
            <label class="layui-col-xs3 ">
                <span class="color-green">项目描述（马来）</span>
                <input name="desc_ms_my"  class="layui-input" placeholder="请输入项目描述" value="{$vo.desc_ms_my|default=''}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 ">
                <span class="color-green">项目描述（土耳其）</span>
                <input name="desc_tr_tr"  class="layui-input" placeholder="请输入项目描述" value="{$vo.desc_tr_tr|default=''}">
            </label>
            <label class="layui-col-xs3 ">
                <span class="color-green">项目描述（西班牙）</span>
                <input name="desc_es_es"  class="layui-input" placeholder="请输入项目描述" value="{$vo.desc_es_es|default=''}">
            </label>
        </div>
        <div class="layui-form-item">
            <span class="color-green">项目封面图片</span>
            <table class="layui-table">
                <thead>
                <tr>
                    <th class="text-center">项目封面</th>
                </tr>
                <tr>
                    <td width="90px" class="text-center"><input name="img" type="hidden" value="{$vo.img|default=''}"></td>
                </tr>
                </thead>
            </table>
            <script>$('[name="img"]').uploadOneImage()</script>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            
            <label class="layui-col-xs6 relative">
                <span class="color-green">项目详情（简体）</span>
                <textarea name="content_zh_cn">{$vo.content_zh_cn|default='简体'|raw}</textarea>
            </label>
            <label class="layui-col-xs6 relative">
                <span class="color-green">项目详情（繁体）</span>
                <textarea name="content_zh_hk">{$vo.content_zh_hk|default='繁体'|raw}</textarea>
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 relative">
                <span class="color-green">项目详情（英文）</span>
                <textarea name="content_en_us">{$vo.content_en_us|default='英文'|raw}</textarea>
            </label>
            <label class="layui-col-xs6 relative">
                <span class="color-green">项目详情（泰语）</span>
                <textarea name="content_th_th">{$vo.content_th_th|default='泰语'|raw}</textarea>
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 relative">
                <span class="color-green">项目详情（越南）</span>
                <textarea name="content_vi_vn">{$vo.content_vi_vn|default='越南'|raw}</textarea>
            </label>
            <label class="layui-col-xs6 relative">
                <span class="color-green">项目详情（日语）</span>
                <textarea name="content_ja_jp">{$vo.content_ja_jp|default='日语'|raw}</textarea>
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 relative">
                <span class="color-green">项目详情（韩语）</span>
                <textarea name="content_ko_kr">{$vo.content_ko_kr|default='韩语'|raw}</textarea>
            </label>
            <label class="layui-col-xs6 relative">
                <span class="color-green">项目详情（马来）</span>
                <textarea name="content_ms_my">{$vo.content_ms_my|default='马来'|raw}</textarea>
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 relative">
                <span class="color-green">项目详情（土耳其）</span>
                <textarea name="content_tr_tr">{$vo.content_tr_tr|default='土耳其'|raw}</textarea>
            </label>
            <label class="layui-col-xs6 relative">
                <span class="color-green">项目详情（西班牙）</span>
                <textarea name="content_es_es">{$vo.content_es_es|default='西班牙'|raw}</textarea>
            </label>
        </div>
        <div class="layui-form-item text-center">
            {notempty name='vo.id'}<input type="hidden" name="id" value="{$vo.id}">{/notempty}
            <button class="layui-btn layui-btn-danger" ng-click="hsitoryBack()" type="button">取消编辑</button>
            <button class="layui-btn" type="submit">保存项目</button>
        </div>

    </div>
</form>
{/block}

{block name='script'}
<script>
    window.form.render();
    require(['ckeditor', 'angular'], function () {
        window.createEditor('[name="content_zh_cn"]', {height: 100});
        window.createEditor('[name="content_zh_hk"]', {height: 100});
        window.createEditor('[name="content_en_us"]', {height: 100});
        window.createEditor('[name="content_th_th"]', {height: 100});
        window.createEditor('[name="content_vi_vn"]', {height: 100});
        window.createEditor('[name="content_ja_jp"]', {height: 100});
        window.createEditor('[name="content_ko_kr"]', {height: 100});
        window.createEditor('[name="content_ms_my"]', {height: 100});
        window.createEditor('[name="content_tr_tr"]', {height: 100});
        window.createEditor('[name="content_es_es"]', {height: 100});
        var app = angular.module("GoodsForm", []).run(callback);
        angular.bootstrap(document.getElementById(app.name), [app.name]);

        function callback($rootScope) {
            $rootScope.hsitoryBack = function () {
                $.msg.confirm('确定要取消编辑吗？', function (index) {
                    history.back(), $.msg.close(index);
                });
            };
        }

    })
</script>
{/block}
